<header>
  <div class="header-flame">
    <div class="header-logos">
    <%= link_to "ナースの質問部屋", root_path, class:"header-logo" %>
    <div class="search">
      <%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "質問を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    </div>
    <div class="header-list">
      <% if user_signed_in? %>
        <div class="logout">
          <%= link_to user_path(current_user.id) do %>
            <% if current_user.image.attached? %>
              <%= image_tag current_user.image.variant(resize: '50x50'), class: 'user-image' %>
            <% else %>
              <%= image_tag("noimage.png", :size => "50x50", class: 'user-image') %>
            <% end %>
          <% end %>
          <%= link_to current_user.nickname, user_path(current_user.id), class: "post" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"post" %>
        </div>
      <% else %>
        <div class="login">
          <%= link_to "ログイン", new_user_session_path, class: "post" %>
          <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        </div>
      <% end %>
    </div>
  </div>
</header>

<main class="main">
  <div class="inner">
    <div class="question__wrapper">
      <p class="question__hedding">
        <%= @question.title %>
      </p>
      <div class="question__name">
        <p class="detail__name">投稿者名</p>
        <div class="question__image">
          <%= link_to user_path(@question.user.id) do %>
            <% if @question.user.image.attached? %>
              <%= image_tag @question.user.image.variant(resize: '50x50'), class: 'user-image'  %>
            <% else %>
              <%= image_tag("noimage.png", :size => "50x50", class: 'user-image') %>
            <% end %>
          <% end %>
        </div>
        <p class="detail__names">
          <%= link_to @question.user.nickname, user_path(@question.user.id), class: 'brown' %>
        </p>
      </div>
      <div class="question__body">
        <div class="question__detail">
          <p class="detail__title">ジャンル</p>
          <p class="detail__message">
            <%= @question.genre.name %>
          </p>
        </div>
        <h3 class="question-text">
          <div class="texts">
            <%= @question.explanation %>
          </div>
        </h3>
        <div class="question__detail2">
          <div class="detail__title2">投稿日時</div>
            <div class="detail__message3">
              <div class="tags">
                <div class="tag-list">
                   <% @question.tags.each do |tag| %>
                      #<%=tag.name%>
                   <%end%>
                </div>
              </div>
              <%= l @question.created_at %>
            </div>
          <div class="edit_show">
            <% if user_signed_in? && current_user.id == @question.user_id %>
              <%= link_to "編集する", edit_question_path(@question.id) %>
              <%= link_to "削除する",  question_path(@question.id), method: :delete ,class: 'delete' %>
            <% elsif @question.best.nil? %>
              <div class="answer_like">
                <div class="answer_btn2">
                  <%= link_to "回答する", new_question_answer_path(@question.id), class:"answer_btn" %>
                </div>
                <div class="likes" >
                  <div id="like_<%= @question.id %>">
                    <%= render partial: 'likes/question', locals: { question: @question} %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="answer-wrpper">
      <div class="answer_center">
        <% unless @answers.length == 0 %>
          <span class="answer_center2">↓回答一覧↓</h4>
        <% end %>
      </div>
      <% @answers.each do |answer| %>
        <div class="answer_info">
          <% if answer.best.present? %>
            <p class="best_answerd">ベストアンサーに選ばれました!!</p>
          <% end %>
          <div class="question__name">
            <div class="question__image">
              <%= link_to user_path(answer.user.id) do %>
                <% if answer.user.image.attached? %>
                  <%= image_tag answer.user.image.variant(resize: '50x50'), class: 'user-image2'  %>
                <% else %>
                  <%= image_tag("noimage.png", :size => "50x50", class: 'user-image2') %>
                <% end %>
              <% end %>
            </div>
            <p class="detail__names">
              <%= link_to answer.user.nickname, user_path(answer.user.id), class: 'brown' %>
            </p>
            <span>さん</span>
          </div>
          <div>
            <%= answer.content %>
          </div>
          <div class="best_time">
            <% if user_signed_in? && current_user.id == @question.user_id && answer.best.nil? %>
              <div class="link">
              <%= link_to "ベストアンサーにする", question_answer_bests_path(@question.id, answer.id), class:"linked", method: :post %>
              </div>
            <% end %>
            <div class="answer_date_right">
              <div class="answer_date">回答日時</div>
                <div class="answer_date2">
                  <%= l answer.created_at %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>


