
  <body class="text-center">

    <main class="form-signin">
    <h2>新規登録はこちら</h2>

    <%= form_for(@user, url: user_registration_path) do |f| %>


      <div class="field">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><em>(再入力)</em><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>  

      <div class="field-genre">
        <%= f.label :役職 %>
        <%= f.collection_select(:position_id, Position.all, :id, :name, {}, {class:"position-select"}) %>
      </div> 
      
      <div class="field">
        <%= f.label :トップ画像 %> 
        <%= f.file_field :image, class:"image-area" %> 
      </div> 

      <div class="field">
        <%= f.text_area :description, class:"question2",placeholder: "自己紹介" %>
      </div>


      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>

      <%= render "devise/shared/links" %>
    <% end %>

    <%#= render "devise/shared/links" %>
    </main>
  </body>
</html>


    